/* Container */
.release-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  padding-top: 130px;
}

/* Title */
.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Step text */
.step {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Card box */
.card {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

/* Stores title */
.stores-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Stores list */
.stores-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Store option */
.store-option {
  display: flex;
  align-items: center;
  background: #f8fbff;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.store-option input {
  margin-right: 10px;
}

/* Button */
.btn {
  display: block;
  width: 100%;
  background: linear-gradient(to right, #2b9ed4, #2bd4a3);
  border: none;
  color: #fff;
  padding: 12px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}

.radio-label {
  margin-left: 10px;
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
}

.i {
  display: flex;
  justify-content: left;
}
.label-p {
  text-align: right;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.custom-radio {
  padding-left: 10px;
}
.popup-content input {
  width: 20px;
}
