.stores-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* align card from top */
  background: #eef2f7;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.stores-card {
  background: #fff;
  border-radius: 16px;
  padding: 40px 50px 40px 50px;
  width: 100%;
  max-width: 80%;
  min-height: 75vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 100px; /* moved further down from top */
}

.page-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #222;
}

.stores-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 60vh;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 5px;
  /* align-items: center;
  justify-content: center; */
}

.stores-options.manual-options {
  margin-top: 10px; /* reduce gap under "Select Manually" */
}

.stores-options label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: #111;
}

.stores-options input[type="checkbox"],
.stores-options input[type="radio"] {
  margin-right: 12px;
  accent-color: #1278bb;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5em; /* push buttons to bottom */
}

.btn-secondary {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90.61deg, #1278bb 4.69%, #13a89e 103.09%);
  color: white;
  font-weight: 600;
  font-size: 15px;
}

/* .btn-secondary:hover {
  transform: translateY(-2px);
  background: linear-gradient(90.61deg, #0f5e99 4.69%, #0fa387 103.09%);
} */
