* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vh;
    min-height: 100vh;
    background-color: #ced8ff;

}
/* Body default font */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222; /* default text color */
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* Paragraphs */
p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 1em 0;
}
